/*#numbers{
    font-size: 25px;
    color: white;
    background-color: black;
    display: inline-block;
}

#result{
    font-size: 25px;
    border: solid 1px black;
    display: inline;
}

#result2{
    font-size: 25px;
    border: solid 1px black;
    display: inline;
}*/